
.assessment-modal {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.assessment-modal-content {
  display: inline-table;
  align-items: center;
  width: 90vw;
  max-width: 700px;
  height: 37.5vh;
  border-radius: 15px;
  overflow: hidden;
  background: url(../imgs/page/entrepreneurial-assessments/Hero.jpg) no-repeat top;
  background-size: cover;
  background-color: rgba(5,35,70,0.9);
  background-blend-mode:overlay;
}

.assessment-modal-header {
  color: white;
  width: 100%;
  @include media-breakpoint-up(sm) {
    height: 10vh;
    h5 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    height: 11vh;
    h5 {
      margin-bottom: 5px;
      font-size: 12.5px;
    }
    p {
      font-size: 12.5px;
    }
  }
  @include media-breakpoint-down(xs) {
    height: 12.5vh;
    h5 {
      margin-bottom: 5px;
      font-size: 12.5px;
    }
    p {
      font-size: 12.5px;
    }
  }
  h5 {
    font-weight: bold;
    font-size: 25px;
    left: 0;
    z-index: 1;
  }
  p {
    line-height: 2vh;
    color: white;
  }
}

.assessment-modal-close {
  float: right;
}

.assessment-modal-footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  color: white;
  z-index: 1;
  padding-left: 45px;
}

.assessment-modal-body {
  margin: 0px auto;
  background-color: white;
  width: 100%;
  padding: 1px;
  h6 {
    font-weight: bold;
    margin: 0;
  }
}

.assessment-icon {
  color: white;
  transition: 0.1s ease-in-out;
  &:hover {
    color: #05264E;
    scale: 105%;
    transition: 0.2s ease-in-out;
  }
}

.tracker {
  width: 50%;
  font-weight: 600;
  font-size: 85%;
  z-index: 2;
  p {
    color: white;
  }
}

.progress-bar {
  height: 5px;
  width: 85%;
  border-radius: 15px;
}

.bar {
  height: inherit;
  background-color: #3AAB67;
  border-radius: inherit;
}
