/* AccessibilityButton.css */




@media (min-width: 1181px) {
    .asw-menu-btn {
        top: 33px;
        // left: 1440px !important;
        left: 96% !important;

        // height: 50px !important;
        // width: 40px !important;
        height: 7% !important;
        width: 3% !important;
        // right: 500px !important;
    }
}



// @media (max-width: 1400px) {
//     .asw-menu-btn{
//         top: 33px;
//         // left: 1340px !important;
//         height: 50px !important;
//         width: 40px !important;
//         // right: 500px !important;
//     }
// }


/*


.asw-menu-btn svg {


    */