/* Blog Trending Now */
.product-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  max-width: calc(353px * 4 + 25px * 3);
}

.product-card {
  width: 316px;
  border-radius: 16px;
  box-shadow: 0px 37px 60px -15px rgba(50, 59, 79, 0.1);
  border: 1px solid rgba(224, 230, 246, 1);
  background-color: #fff;
  padding: 10px;
}

.product-image-container {
  display: flex;
  gap: 5px;
}

.product-image {
  width: 85px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-title {
  color: var(--brand-brand-1, #05264e);
  font: 700 18px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  height: 78px;
  overflow: hidden;
}

.blogpage-trendingnow-product-title {
  height: 70px;
  overflow: hidden;
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.product-author {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 7px;
  font-size: 16px;
  color: var(--NestMart-TextHeading, #253d4e);
  font-weight: 500;
  line-height: 156%;
}

.blogpage-trendingnow-product-author {
  color: var(--NestMart-TextHeading, #253D4E);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.author-image {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.blogpage-author-image {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  width: 45px;
  margin: auto 0;
}

.blogpage-trendingnow-author-image {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  width: 35px;
  margin: auto 0;
}


.blogpage-trendingnow-author-mainimage {
  width: 60px;
  height: 50px;
  /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 50%;
  margin: auto 0;
}

@media screen and (max-width: 1399px) {
  .blogpage-trendingnow-product-title {
    height: 83px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 1199px) {
  .product-list {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
  }

  .product-card {
    width: calc(33.33% - 20px);
    /* Three cards in a row on smaller screens */
  }

  .product-card:nth-child(n + 4) {
    display: none;
    /* Hide cards starting from the fourth card */
  }


}

/* Media query for smaller screens */
@media screen and (max-width: 992px) {

  .product-image-container {
    gap: 13px;
  }
  
  .product-list {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
  }

  .product-card {
    width: calc(50% - 20px);
  }

  .product-card:nth-child(n + 3) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .product-title {
    color: var(--brand-brand-1, #05264e);
    font: 700 18px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    height: 78px;
    overflow: hidden;
  }

  .blogpage-trendingnow-product-title {
    height: 78px;
  }

  .product-author {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
    font-size: 12px;
    color: var(--NestMart-TextHeading, #253d4e);
    font-weight: 500;
    line-height: 156%;
  }

  .blogpage-trendingnow-product-author {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
    font-size: 12px;
    color: var(--NestMart-TextHeading, #253d4e);
    font-weight: 500;
    line-height: 156%;
  }


  .author-image {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }

  .blogpage-author-image {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }

  .blogpage-trendingnow-author-image {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }

  .blogpage-trendingnow-author-mainimage {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (max-width: 574px) {
  .blogpage-trendingnow-author-mainimage {
    width: 50px;
    height: 40px;

    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }

  .blogpage-trendingnow-product-title {
    height: 70px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 550px) {
  .product-list {
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
  }

  .product-card {
    width: calc(100% - 20px);
    /* Two cards in a row on smaller screens */
  }

  .product-card:nth-child(n + 2) {
    display: none;
    /* Hide cards starting from the fourth card */
  }
}


/* Trending Now Blog Slider */
.box-swiper {
  position: relative;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-next:after,
.blogpage-trendingnowcarousel-swiper .swiper-button-prev:after {
  content: "";
}

.blogpage-trendingnowcarousel-swiper .swiper-button-next {
  background: url(../imgs/slider/swiper/next.svg) no-repeat 0px 0px;
  right: -65px;
  top: 70px !important;
  width: 50px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-next:hover {
  background: url(../imgs/slider/swiper/next-active.svg) no-repeat 0px 0px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-prev {
  background: url(../imgs/slider/swiper/prev.svg) no-repeat 0px 0px;
  left: -65px;
  top: 70px !important;
  width: 50px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-prev:hover {
  background: url(../imgs/slider/swiper/prev-active.svg) no-repeat 0px 0px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-margin {
  margin-top: 25px;
}

@media screen and (max-width: 650px) {
  .blogpage-trendingnowcarousel-swiper .swiper-button-next {
    right: -60px !important;
    top: 65px !important;
  }

  .blogpage-trendingnowcarousel-swiper .swiper-button-prev {
    left: -60px;
    top: 65px !important;
  }
}

@media screen and (max-width: 576px) {
  .blogpage-trendingnowcarousel-swiper .swiper-button-next {
    right: -57px !important;
    top: 65px !important;
  }

  .blogpage-trendingnowcarousel-swiper .swiper-button-prev {
    left: -43px !important;
    top: 65px !important;
  }

  .blogpage-trendingnowcarousel {
    width: 95%;
    padding: 0 20px;
  }
}




/* Blog Category Start */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  justify-content: center;
  gap: 20px;
}

.card-content {
  border-radius: 16px;
  border: 1px solid rgba(224, 230, 246, 1);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 13px 12px;
  height: 100%;
  /* Ensure each card fills the height of its container */
}

.featured-image {
  aspect-ratio: 1.85;
  object-fit: cover;
  width: 100%;
}

.article-category {
  border-radius: 5px;
  background-color: var(--border-border-2, #e0e6f6);
  align-self: start;
  margin-top: 20px;
  color: var(--brand-brand-2, #3c65f5);
  white-space: nowrap;
  padding: 0 10px;
  font: 500 16px/156% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.blogpage-article-category {
  border-radius: 5px;
  background-color: var(--border-border-2, #e0e6f6);
  align-self: start;
  margin-top: 20px;
  white-space: nowrap;
  padding: 0 10px;


  color: var(--brand-brand-2, #3C65F5);

  /* text/font-xs */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 156.25% */
  margin-left: 5px;
}

.article-title {
  color: var(--brand-brand-1, #05264e);
  align-self: start;
  margin: 22px 0 0 10px;
  font: 700 20px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
}

.blogpage-article-title {
  // align-self: start;
  margin: 20px 5px 0 5px;
  height: 60px;
  overflow: hidden;

  color: var(--brand-brand-1, #05264E);

  /* Heading/H5 */
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 130% */
}

.article-description {
  color: var(--text-paragraph, #6c6e70);
  align-self: center;
  margin-top: 18px;
  font: 500 16px/25px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  margin: 0 10px;
  text-align: justify;
  height: 100px;
  overflow: hidden;
}

.blogpage-article-description {
  align-self: center;
  margin: 0 5px;
  text-align: justify;
  height: 100px;
  overflow: hidden;

  color: var(--text-paragraph, var(--Paragraph-Text, #6C6E70));

  /* text/font-xs */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 156.25% */
}

.article-meta {
  display: flex;
  margin-top: 25px;
  width: 100%;
  gap: 20px;
}

.blogpage-article-meta {
  display: flex;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
}

.author-info {
  display: flex;
  gap: 5px;
}

.author-image {
  width: 35px;
  margin: auto 0;
}





.author-details {
  display: flex;
  flex-direction: column;
}

.blogpage-author-details {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.author-name {
  color: var(--brand-brand-1, #05264e);
  font: 700 18px/144% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.blogpage-author-name {


  color: var(--brand-brand-1, #05264E);

  /* Heading/H6 */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 144.444% */
}

.blogpage-trendingnow-author-name {

  color: var(--NestMart-TextHeading, #253D4E);

  /* text/font-xs */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 156.25% */
}

.publish-date {
  color: var(--text-Paragrap-2, #435579);
  margin-top: 5px;
  font: 500 16px/156% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.blogpage-publish-date {
  margin-top: 5px;

  color: var(--text-Paragrap-2, var(--text-Paragrap-2, #435579));

  /* text/font-xs */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 156.25% */
}

.read-time {
  color: var(--text-Paragrap-2, #435579);
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 500 16px/156% Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: right;
  margin-right: 10px;
}

.blogpage-read-time {
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  text-align: right;
  margin-right: 10px;

  color: var(--text-Paragrap-2, var(--text-Paragrap-2, #435579));

  /* text/font-xs */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 156.25% */
}

@media (max-width: 1199px) {
  .news-article-card {
    height: 565px;
  }

  .article-title-container {
    height: 85px;
  }

  .blogpage-article-title {
    font-size: 18px !important;
    height: 85px;
  }

  .blogpage-article-description {
    height: 125px;
  }

  .blogpage-read-time {
    margin-left: 5px;
    margin-top: 70px;
    position: absolute;
    text-align: left;
  }
}

@media (max-width: 991px) {

  .news-article-card {
    height: 565px;
  }

  .article-title-container {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
    font-size: 18px !important;
  }

  .blogpage-article-description {
    height: 125px;
  }

  .blogpage-read-time {
    margin-left: 5px;
    margin-top: 70px;
    position: absolute;
    text-align: left;
  }

  .card-content {
    max-width: 100%;
  }

  .featured-image {
    max-width: 100%;
  }

  .article-title {
    font-size: 18px !important;
  }

  .article-category {
    white-space: initial;
  }

  .blogpage-article-category {
    white-space: initial;
  }

  .article-description {
    max-width: 100%;
  }


  .article-meta {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .blogpage-article-meta {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .news-article-card {
    height: 595px;
  }

  .article-title-container {
    height: 85px;
  }

  .blogpage-article-title {
    height: 85px;
    font-size: 18px !important;
  }

  .blogpage-article-description {
    height: 175px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-left: 5px;
    margin-top: 80px;
    position: absolute;
    text-align: left;
  }

  .card-content {
    padding: 10px;
  }

  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
  }

  .featured-image {
    max-width: 100%;
  }

  .article-title {
    font-size: 18px !important;
  }

  .blogpage-article-title {
    font-size: 18px !important;
  }

  .article-category {
    white-space: initial;
  }

  .blogpage-article-category {
    white-space: initial;
  }

  .article-description {
    max-width: 100%;
  }

  .blogpage-article-description {
    max-width: 100%;
  }

  .article-meta {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .blogpage-article-meta {
    max-width: 100%;
    flex-wrap: wrap;
  }
}


@media (max-width: 575px) {

  .news-article-card {
    height: 570px;
  }

  .article-title-container {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 75px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}

@media (max-width: 526px) {

  .news-article-card {
    height: 570px;
  }

  .article-title-container {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 105px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}

@media (max-width: 493px) {
  .news-article-card {
    height: 565px;
  }

  .article-title-container {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 100px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}

@media (max-width: 433px) {
  .news-article-card {
    height: 565px;
  }

  .article-title-container {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 125px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}





/* Add media query for screens up to 375px width */
@media (max-width: 375px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 20px), 1fr));
    /* Adjust columns for screens up to 375px width */
  }
}

/* Blog Category Finish */






/*blog search component */
.banner-hero1,
.banner-hero-blogpage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 65px 0px 70px;
  position: relative;
  max-width: 1770px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .banner-hero-blogpage {
  padding: 0px;
  }
}


.banner-hero1 .block-banner1 .blog-form-find-top,
.banner-hero-blogpage .block-banner1 .blog-form-find-top {
  background: #ffffff;
  padding: 8px 8px;
  border: 1px solid #e0e6f6;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.banner-hero1 .block-banner1 .blog-form-find-top form,
.banner-hero-blogpage .block-banner1 .blog-form-find-top form {
  width: 100%;
  display: flex;
}



.blog-form-find-top form .blog-one {
  height: 50px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  border: none;
  margin-left: 1px;
  width: 550px;
}

.blog-form-find-top form .blog-one::placeholder {
  color: #6B6B6B;
}

.blog-form-find-top form .blog-two {
  height: 50px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  border: none;
  width: 350px;
}

.blog-form-find-top form .blog-two::placeholder {
  color: #6B6B6B;
}

.blog-btn-search {
  background-color: #229A24;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 15%;
  height: auto;
  font-size: 16px;
  margin-left: 25px;
}

.blog-btn-search:hover {
  transform: translateY(-2px);
  background-color: #1e7f1e;
  transition: 0.2s;
}

.divider {
  width: 1px;
  height: 55px;
  background-color: rgba(180, 192, 237, 0.6);
  margin-left: 35px;
}

@media screen and (max-width: 420px) {

  .banner-hero1 .block-banner1 .blog-form-find-top,
  .banner-hero-blogpage .block-banner1 .blog-form-find-top {
    padding: 10px 0px 15px 0px !important;
    margin: 0 -10px !important;
  }
}

@media screen and (max-width: 1199px) {

  /* top business idea */
  .block-banner1 {
    width: auto;
  }

  .blogpage-block-banner {
    width: auto;
  }


  .banner-hero1 .block-banner1 .blog-form-find-top {
    padding: 20px;
  }

  .banner-hero1 .block-banner1 .blog-form-find-top,
  .banner-hero-blogpage .block-banner1 .blog-form-find-top {
    padding: 20px;
  }


  .banner-hero1 .block-banner1 .blog-form-find-top form,
  .banner-hero-blogpage .block-banner1 .blog-form-find-top form {
    display: flex;
    flex-wrap: wrap;
  }

  .btn-search {
    background-color: #229A24;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 12px;
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
  }

  .blog-btn-search {
    padding: 8px 12px;
    margin-top: 10px;
    width: auto;
    margin-left: 20px;
  }

  .divider {
    display: none;
  }

  .blog-form-find-top form .blog-one,
  .blog-form-find-top form .blog-two {
    width: 100%;
  }
}

@media screen and (max-width: 496px) {
  .banner-hero-blogpage .block-banner1 .blog-form-find-top {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 575.98px) {
  .swiper-group-6 {
    max-height: 140px;
  }
}

.card-grid-5-1 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 560px;
  /* Set the height to 560px */
  background: url(../imgs/page/blog/img-big1.png) top left;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-grid-5-1 .category {
  background: url(../imgs/page/blog/picture-icon.svg) center no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 47px;
  width: 47px;
  z-index: 3;
  background-color: #ffffff;
  border-radius: 50%;
  display: none;
}

.card-grid-5-1:hover .category {
  display: inline-block;
}

.card-grid-5-1 .box-cover-img-1 {
  position: absolute;
  bottom: 0px;
  top: 10%;
  width: 100%;
  background: url(../imgs/page/blog/bg-black-trans.png) repeat-x center bottom;
  z-index: 2;
}

.card-grid-5-1 .box-cover-img-1 .content-bottom-1 {
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.card-category-1 {
  height: 255px;
}

.card-category-1 .box-cover-img-1 {
  top: 0px;
}

.hover-up:hover {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.color-white {
  color: #ffffff !important;
}

.section-box.mt-70,
.section-box.mt-80,
.section-box.mt-100,
.section-box.mt-40 {
  margin-top: 30px !important;
}

/* Blog Inner Page */
.banner-hero2 {
  position: relative;
  margin: 0 auto;
}

.banner-hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img-laptop2 h2,
.bg-img-laptop2 p {
  z-index: 2;
  position: relative;
  color: white;
  padding-left: 25px;
}

.bg-img-laptop2 h2 {
  border-left: 10px solid #83cbff;
  /* Width of the border */
  padding-bottom: 2px;
  /* Adjust this value to change the height */
}

.bg-img-laptop2 p {
  border-left: 10px solid #83cbff;
  padding-bottom: 10px;
  /* Adjust this value to change the height */
}

.bg-img-laptop2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #05264E;
}

.bloginnerheading {
  margin-bottom: 20px;
  font-size: 60px;
}

.bloginnertext {
  font-size: 24px;
  max-width: 780px;
  line-height: 30px;
  padding-top: 5px;
}

/* Blog Ends */

/* Blog Hero Image  */
.bg-img-blog {
  height: 30vh;
  background: url(../imgs/page/blog-page/BlogHero1.jpeg) no-repeat center center;
  background-size: cover;
}

.bg-img-blog h2,
.bg-img-blog p {
  z-index: 2;
  position: relative;
  color: white;
  padding-left: 25px;
}

.bg-img-blog h2 {
  border-left: 10px solid #83cbff;
  /* Width of the border */
  padding-bottom: 2px;
  /* Adjust this value to change the height */
}

.bg-img-blog p {
  border-left: 10px solid #83cbff;
  padding-bottom: 10px;
  /* Adjust this value to change the height */
}

.bg-img-blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #05264E;
}

.bg-img-blog2 h2,
.bg-img-blog2 p {
  z-index: 2;
  position: relative;
  color: white;
  padding-left: 25px;
}

.bg-img-blog2 h2 {
  border-left: 10px solid #83cbff;
  /* Width of the border */
  padding-bottom: 2px;
  /* Adjust this value to change the height */
}

.bg-img-blog2 p {
  border-left: 10px solid #83cbff;
  padding-bottom: 10px;
  /* Adjust this value to change the height */
}

.bg-img-blog2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.8;
  background: #05264E;
}



.card-grid-5 .box-cover-img .content-bottom-2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.author-info-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* Align items vertically in the center */
}

.box-cover-img-1 .content-bottom-2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.swipertitle {
  color: var(--System-white, var(--System-white, #FFF));
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 259px;
}

.swipertitle1 {
  color: var(--System-white, var(--System-white, #FFF));
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 150px;
}

.swiperdate-blogpage {
  color: var(--System-white, var(--System-white, #FFF));
  /* text/font-sm */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 166.667% */

  /* 4th April */
}

.mh-none-bloginnerpage {
  max-height: 265px !important;
}



/* Blog Inner Page Finish */



.container1 {
  width: 100%;
  /* Initially take full width */
  margin: 0 auto;
  /* Center the container horizontally */
  box-sizing: border-box;
  /* Include padding and border in the total width */
}

/* Media Query for tablets and smaller screens */
@media (max-width: 991.98px) {
  .container1 {
    max-width: 100%;
    /* Take full width for smaller screens */
  }
}

/* Media Query for mobile devices */
@media (max-width: 767.98px) {
  .container1 {
    padding: 0 10px;
    /* Adjust padding for smaller screens */
  }
}





.archive-header-blogpage {
  position: relative;
  top: -220px;
  margin-bottom: -200px;
  display: table;
  width: 100%;
}

.archive-header-blogpage .post-meta .author img {
  max-width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}


@media screen and (max-width: 1500px) {
  .bloginnerheading {
    font-size: 50px;
    /* Decrease font size for smaller screens */
    margin-top: -20px;
    margin-bottom: 0px;
  }

  .bloginnertext {
    font-size: 22px;
    /* Decrease font size for smaller screens */
  }

  .bg-img-laptop2 h2 {
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-left: 10px solid #83cbff;
  }

  .bg-img-laptop2 p {
    padding-bottom: 7px;
    border-left: 10px solid #83cbff;
  }
}

@media screen and (max-width: 1355px) {
  .bloginnerheading {
    font-size: 45px;
    /* Decrease font size for smaller screens */
    margin-top: -30px;
    margin-bottom: 0px;
  }

  .bloginnertext {
    font-size: 22px;
    /* Decrease font size for smaller screens */
  }

  .bg-img-laptop2 h2 {
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-left: 10px solid #83cbff;
  }

  .bg-img-laptop2 p {
    padding-bottom: 7px;
    border-left: 10px solid #83cbff;
  }
}

@media screen and (max-width: 1255px) {
  .bloginnerheading {
    font-size: 40px;
    /* Decrease font size for smaller screens */
    margin-top: -40px;
    margin-bottom: 0px;
  }

  .bloginnertext {
    font-size: 22px;
    /* Decrease font size for smaller screens */
  }

  .bg-img-laptop2 p {
    padding-bottom: 0px;
    border-left: 10px solid #83cbff;
  }

}

@media screen and (max-width: 992px) {
  .archive-header-blogpage {
    top: -180px;
    margin-bottom: -153px;
  }

  .bloginnerheading {
    font-size: 25px !important;
    /* Decrease font size for smaller screens */
    margin-top: -35px;
  }

  .bloginnertext {
    font-size: 14px;
    /* Decrease font size for smaller screens */
    margin-top: -10px;
  }

  .bg-img-laptop2 h2 {
    /* Width of the border */
    padding-bottom: 0px;
    /* Adjust this value to change the height */
    margin-bottom: 0px;
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .bg-img-laptop2 p {
    padding-bottom: 0px;
    border-left: 10px solid #83cbff;
  }
}

@media screen and (max-width: 768px) {
  .archive-header-blogpage {
    top: -150px;
    margin-bottom: -135px;
  }

  .bg-img-laptop2 h2,
  .bg-img-laptop2 p {
    padding-left: 15px;
    /* Reduce padding for smaller screens */
  }


  .bg-img-laptop2 h2 {
    margin-bottom: 20px !important;
    margin-top: -30px;
    /* Reduce padding for smaller screens */
  }

  .bloginnerheading {
    font-size: 25px !important;
    /* Decrease font size for smaller screens */
    margin-top: -30px;
  }

  .bloginnertext {
    font-size: 14px;
    /* Decrease font size for smaller screens */
    padding-top: 5px;
    /* Increase padding for smaller screens */
  }

}

@media screen and (max-width: 650px) {
  .archive-header-blogpage {
    top: -130px;
    margin-bottom: -115px;
  }

  .bloginnerheading {
    font-size: 24px !important;
    /* Decrease font size for smaller screens */
    margin-top: -20px !important;
  }

  .bloginnertext {
    font-size: 12px;
    /* Decrease font size for smaller screens */
    padding-top: 0px;
    /* Increase padding for smaller screens */
  }
}

@media screen and (max-width: 550px) {
  .archive-header-blogpage {
    top: -110px;
    margin-bottom: -94px;
  }
}

@media screen and (max-width: 450px) {
  .archive-header-blogpage {
    top: -90px;
    margin-bottom: -65px;
  }
}



/* blogpage */
.article-title-blogpage {
  color: white;
  align-self: start;
  padding: 25px 25px 0px 25px;
  font: 700 20px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  overflow: hidden;
  text-align: justify;
  margin-top: -140px;
}

.author-info-blogpage {
  display: flex;
  padding: 25px 25px 0px 25px;
  margin-top: 115px;
}

.author-info-container-blogpage {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  /* Align items vertically in the center */
}

.author-image-blogpage {
  margin-right: 10px;
  aspect-ratio: 1;
  object-fit: cover;
  width: 35px;
  margin: auto 0;
  border-radius: 50%;
}

.carouseldate-blogpage {
  color: var(--System-white, var(--System-white, #FFF));

  /* text/font-sm */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-left: 35px;
  /* 166.667% */

  /* 4th April */
}


.swiperdate-blogpage1 {
  position: absolute;

  color: var(--System-white, var(--System-white, #FFF));
  /* text/font-sm */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 387px;
  margin-left: 70px;
  /* 166.667% */
  /* 4th April */
}

.carouseldate-blogpage1 {
  position: absolute;
  color: var(--System-white, var(--System-white, #FFF));

  /* text/font-sm */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-left: 217px;
  margin-top: 387px;
}

.author-image-blogpage1 {
  position: absolute;
  margin-right: 10px;
  aspect-ratio: 1;
  object-fit: cover;
  width: 35px;
  border-radius: 50%;
  margin-top: 385px;
  margin-left: 20px;
}

.swiperprevious-blogpage {
  position: absolute;
  top: 21%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  left: 5vw;
}

.swipernext-blogpage {
  position: absolute;
  top: 21%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  right: 5vw;
}

@media screen and (max-width: 1400px) {
  .swiperprevious-blogpage {
    left: 30px;
  }

  .swipernext-blogpage {
    right: 30px;
  }
}

@media screen and (max-width: 1290px) {
  .swiperprevious-blogpage {
    top: 24%;
    left: 0px;
  }

  .swipernext-blogpage {
    top: 24%;
    right: 0px;
  }
}

@media screen and (max-width: 1225px) {
  .swiperprevious-blogpage {
    top: 24%;
    left: -5px;
  }

  .swipernext-blogpage {
    top: 24%;
    right: -5px;
  }
}

@media screen and (max-width: 1200px) {
  .swiperprevious-blogpage {
    top: 26.5%;
    left: 50px;
  }

  .swipernext-blogpage {
    top: 26.5%;
    right: 50px;
  }

  .article-title-blogpage {
    padding: 25px 10px 0px 10px;
    font: 700 18px / 22px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -160px;
  }

  .author-image-blogpage1 {
    width: 30px;
    margin-top: 365px;
    margin-left: 10px;
  }

  .swiperdate-blogpage1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 367px;
    margin-left: 50px;
  }

  .carouseldate-blogpage1 {
    font-size: 16px;
    margin-left: 50px;
    margin-top: 397px;
  }
}

@media screen and (max-width: 1100px) {
  .swiperprevious-blogpage {
    left: 10px;
  }

  .swipernext-blogpage {
    right: 10px;
  }
}

@media screen and (max-width: 992px) {
  .swiperprevious-blogpage {
    top: 25%;
    left: 30px;
  }

  .swipernext-blogpage {
    top: 25%;
    right: 30px;
  }

  .article-title-blogpage {
    font: 700 18px / 22px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -160px;
  }
}

@media screen and (max-width: 855px) {
  .swiperprevious-blogpage {
    top: 26%;
    left: 5px;
  }

  .swipernext-blogpage {
    top: 26%;
    right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .swiperprevious-blogpage {
    top: 26%;
    left: 4px;
  }

  .swipernext-blogpage {
    top: 26%;
    right: 4px;
  }

  .article-title-blogpage {
    font: 700 16px / 22px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -190px;
  }
}

@media screen and (max-width: 576px) {
  .swiperprevious-blogpage {
    top: 26%;
    left: 5px;
  }

  .swipernext-blogpage {
    top: 26%;
    right: 5px;
  }

  .article-title-blogpage {
    padding: 25px 25px 0px 25px;
    margin-top: -150px;
  }

  .author-image-blogpage1 {
    width: 35px;
    margin-top: 355px;
    margin-left: 20px;
  }

  .swiperdate-blogpage1 {
    margin-top: 357px;
    margin-left: 70px;
  }

  .carouseldate-blogpage1 {
    margin-left: 25px;
    margin-top: 397px;
  }
}

@media screen and (max-width: 450px) {
  .swiperprevious-blogpage {
    top: 26%;
    left: 0px;
  }

  .swipernext-blogpage {
    top: 26%;
    right: 0px;
  }

  .article-title-blogpage {
    margin-top: -170px;
  }
}



@media screen and (max-width: 396px) {

  .article-title-blogpage {
    font: 700 16px / 19px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -125px;
  }

  .author-image-blogpage1 {
    width: 30px;
    margin-top: 395px;
    margin-left: 10px;
  }

  .swiperdate-blogpage1 {

    /* text/font-sm */
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 397px;
    margin-left: 45px;
    /* 166.667% */
    /* 4th April */
  }

  .carouseldate-blogpage1 {

    /* text/font-sm */
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 140px;
    margin-top: 397px;
  }
}


/* Blog Finish */





/* Share Icon Start */
.share-icon-container-blogpage {
  position: absolute;
}

.share-icon-blogpage {
  font-size: 30px;
  color: #3c65f5;
}

.share-icon-blogpage:hover {
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #05264e;
  transition: 0.2s;
  border-radius: 4px;
}

@media screen and (max-width:1200px) {
  .share-icon-blogpage {
    margin-left: 35px !important;
    margin-top: -76px !important;

  }
}

@media screen and (max-width:999px) {
  .share-icon-blogpage {
    margin-left: 14px !important;
    margin-top: -76px !important;

  }
}

@media screen and (max-width:768px) {
  .share-icon-blogpage {
    margin-left: 32px !important;
    margin-top: -76px !important;

  }
}

@media screen and (max-width:580px) {
  .share-icon-blogpage {
    margin-left: 3px !important;
    margin-top: -10px !important;
  }
}


/* Share Icon End */









.background-random-blogpage {
  position: relative;
  overflow: hidden;
}

.background-random-blogpage::before,
.background-random-blogpage::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 1500px;
  background: #f2f6fd;
  transform-origin: top left;
  z-index: -1;
}

.background-random-blogpage::before {
  transform: rotate(-8deg);
  top: 600px;
  left: -300px;
  border-radius: 25px;
}

.background-random-blogpage::after {
  transform: rotate(8deg);
  top: 1100px;
  right: -300px;
  border-radius: 25px;
}

@media screen and (max-width:576px) {

  .blogpage-hero-heading,
  .blogpage-hero-subheading {
    margin-left: -65px;
  }
}

.content-single-bloginnerpage {
  p {
    color: var(--Paragraph-Text, #6C6E70);
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
  }

  h3,
  h4,
  h5 {
    color: $color-text-paragraph;
    font-weight: bold;
  }

  ul {
    list-style: none;
    color: var(--Paragraph-Text, #6C6E70);
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
  }

  li {
    margin-bottom: 24px;
  }
}


.mt-20 {
  margin-top: 20px;
}

.mt-75 {
  margin-top: 75px;
}



.mr-15 {
  margin-right: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 50px;
}

.pl-30 {
  padding-left: 30px;
}

.content-single-bloginnerpage-introduction {
  p {
    color: var(--Paragraph-Text, #6C6E70);
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 133.333% */
  }
}

.image-borderradius {
  border-radius: 16px;
}

.show-bullet {
  list-style: disc !important;
}

.keywords-bloginnerpage {
  color: var(--brand-brand-1, #05264E);
  /* text/font-xs */
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 156.25% */
  padding: 12px 20px;
  background: #EFF2FB;
  border-radius: 8px;
}

.bloginnerpage-comments {
  color: var(--text-paragraph, #4F5E64);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
  margin-bottom: 0px;
}



.bloginnerpage-author-bio {
  border-radius: 0px;
  border: 0px solid $border-color;
  display: flex;

  h5 {
    margin: 0 !important;
    font-weight: 600;
  }

  .author-image {
    display: flex;
    justify-content: flex-start;
    min-width: 213px;
    max-height: 181px;

    img {
      margin-right: 15px;
      max-width: 55px;
      vertical-align: middle;
    }

    p {
      font-size: 14px;
    }
  }

  .author-information {
    h6 {
      color: var(--brand-brand-1, #05264E);
      /* Heading/H6 */
      font-family: "Plus Jakarta Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      /* 144.444% */
    }

    p {
      color: var(--text-Paragrap-2, #66789C);
      /* text/font-sm */
      font-family: "Plus Jakarta Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      /* 157.143% */
    }
  }

  .author-description {
    padding: 15px;
    border: 1px solid $color-border-1;
    border-radius: 4px;
    margin-left: 25px;
  }
}

@media screen and (max-width:576px) {

  .list-comments {
    li {
      ul {
        li {
          padding-left: 0px !important;
        }
      }
    }
  }
}

@media screen and (max-width:576px) {
  .bloginnerpage-author-bio {
    display: block;
  }

  .mt-40 {
    margin-top: 25px !important;
  }

  .mt-50 {
    margin-top: 25px !important;
  }

  .mb-40 {
    margin-bottom: 25px !important;
  }

  .mb-50 {
    margin-bottom: 25px !important;
  }

  .mb-75 {
    margin-bottom: 50px !important;
  }

  .bloginnerpage-author-bio {
    .author-image {
      max-height: 70px;
      margin-bottom: 0px;
    }

    .author-description {
      margin-left: 0px;
      margin-top: 0px;
    }
  }
}

.bloginnerpage-form-comment {
  .box-agree input {
    float: left;
    margin: 5px 0px 0px 0px;
  }

  .box-agree span {
    display: block;
    padding-left: 25px;
  }

  .input-comment {
    border-radius: 4px;
    border: 2px solid $color-border-2;
    padding: 20px;
    width: 100%;
    color: $color-text-mutted;
    font-size: $font-lg;
    line-height: 26px;
    font-weight: 500;
    min-height: 150px;
  }
}

.bloginnerpage-comment-form-save {
  color: var(--text-paragraph, #4F5E64);
  /* text/font-sm */
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 157.143% */
}





.list-comments {
  li {
    ul {
      li {
        padding-left: 55px;

        .author-bio {
          .author-image {
            min-width: 200px;
          }
        }
      }
    }
  }
}

.max-width-single {
  max-width: 733px;
  width: 100%;
  margin: auto;
}


.box-white {
  background: $background-white;
  padding: 50px 0px;
}


.img-middle {
  float: left;
  margin-top: 2px;
}



































// purano blog ko code

.archive-header {
  position: relative;
  top: -200px;
  margin-bottom: -200px;
  display: table;
  width: 100%;

  h3 {
    font-size: 46px;
  }

  .post-meta {
    .author {
      img {
        max-width: 30px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}

.card-blog-1 {
  border-radius: 15px;
  border: thin solid $border-color;
  padding: 30px;

  &:hover {
    box-shadow: $box-shadow-2;
  }

  .post-thumb {
    border-radius: 15px;
    overflow: hidden;

    img {
      border-radius: 15px;
    }
  }

  .post-meta {
    .author {
      img {
        max-width: 30px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }

  h3.post-title {
    font-size: 24px;
    line-height: 1.33;

    a {
      color: $color-brand;

      &:hover {
        color: $color-brand;
      }
    }

    &.small {
      font-size: 18px;
    }
  }

  .btn-brand-hover {
    border-color: $border-color-1-hover;
  }

  &.post-list {
    display: flex;

    .post-thumb {
      max-width: 275px;
      margin-right: 25px;
    }
  }
}

.single-body {
  figure img {
    border-radius: 15px;
  }

  p {
    font-size: $font-lg;
    margin-bottom: 15px;
    color: $color-text-paragraph;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 30px 0 25px 0;
  }

  .excerpt {
    p {
      font-size: $font-2xl;
      line-height: 1.5;
      color: $color-brand;
    }
  }

  blockquote {
    background-color: $background-16;
    padding: 40px 60px;
    border-radius: 15px;
    margin: 30px auto;
    font-size: 24px;
    max-width: 80%;

    p {
      font-size: 24px;
      line-height: 32px;
      color: #7e7e7e;
      margin-bottom: 0;
    }
  }
}

.author-bio {
  border-radius: 0px;
  border: 0px solid $border-color;
  display: flex;

  h5 {
    margin: 0 !important;
    font-weight: 600;
  }

  .author-image {
    display: flex;
    justify-content: flex-start;
    min-width: 200px;

    img {
      margin-right: 15px;
      max-width: 56px;
      vertical-align: middle;
    }

    p {
      font-size: 14px;
    }
  }

  .author-des {
    padding: 25px;
    border: 1px solid $color-border-1;
    border-radius: 4px;
  }
}

.related-posts {
  h6 {
    font-size: 16px;
    font-weight: 600;

    a {
      color: $color-brand;
    }
  }
}

.author {
  span {
    color: $color-black-1;
  }
}

.gallery-3 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 0 auto;
    width: 33.33%;
    padding: 5px;
    margin-bottom: 10px;

    a {
      img {
        border-radius: 4px;
      }
    }
  }
}

.box-white {
  background: $background-white;
  padding: 50px 0px;
}

.img-middle {
  float: left;
  margin-top: 2px;
}

.max-width-single {
  max-width: 733px;
  width: 100%;
  margin: auto;
}



.form-comment {
  .box-agree input {
    float: left;
    margin: 5px 0px 0px 0px;
  }

  .box-agree span {
    display: block;
    padding-left: 25px;
  }

  .input-comment {
    border-radius: 4px;
    border: 2px solid $color-border-2;
    padding: 20px;
    width: 100%;
    color: $color-text-mutted;
    font-size: $font-lg;
    line-height: 26px;
    font-weight: 500;
    min-height: 150px;
  }
}



/* Share Icon Start */
.share-icon-container-bloginnerpage {
  position: absolute;
  margin-top: -25px;
  margin-left: -120px;
}

.share-icon-bloginnerpage {
  font-size: 30px;
  color: #3c65f5;
}

.share-icon-bloginnerpage:hover {
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #05264e;
  transition: 0.2s;
  border-radius: 4px;
}

@media screen and (max-width:1200px) {
  .share-icon-bloginnerpage {
    margin-left: 35px !important;
    margin-top: -76px !important;
  }
}

@media screen and (max-width:999px) {
  .share-icon-bloginnerpage {
    margin-left: 14px !important;
    margin-top: -76px !important;
  }
}

@media screen and (max-width:768px) {
  .share-icon-bloginnerpage {
    margin-left: 32px !important;
    margin-top: -76px !important;

  }
}

@media screen and (max-width:580px) {
  .share-icon-bloginnerpage {
    margin-left: 75px !important;
    margin-top: 12px !important;
  }
}


/* Share Icon End */


.background-random-bloginnerpage {
  position: relative;
  overflow: hidden;
}

.background-random-bloginnerpage::before,
.background-random-bloginnerpage::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 1500px;
  background: #f2f6fd;
  transform-origin: top left;
  z-index: -1;
}

.background-random-bloginnerpage::before {
  transform: rotate(-8deg);
  top: 800px;
  left: -300px;
  border-radius: 25px;
}

.background-random-bloginnerpage::after {
  transform: rotate(8deg);
  top: 700px;
  right: -300px;
  border-radius: 25px;
}


// Blog Trending Now
.box-swiper {
  position: relative;

  .swiper-container {
    position: relative;

    .blogpage-item-logo {
      border: 1px solid $border-color-1;
      padding: 10px;
      display: flex;
      width: 100%;
      text-align: left;
      border-radius: 12px;
      margin-bottom: 15px;
      background-color: $background-white;
      flex-wrap: wrap;

      img {
        max-width: 100%;

      }

      &:hover {
        border: 1px solid $border-color-1-hover;
        box-shadow: $box-shadow-2;
      }

      .image-left {
        min-width: 50px;
        padding-right: 10px;
      }

      .text-info-right {
        h4 {
          font-size: $font-md;
          line-height: 26px;
          margin-bottom: 3px;
        }
      }

      .text-info-bottom {
        position: relative;
        width: 100%;
      }
    }
  }

  .centered-swiper {
    margin: auto 40px auto 0px !important;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "";
  }




  .swiper-button-margin {
    margin-top: 25px;
  }


  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
}

.swiper-pagination {
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  margin: 10px;
}

/*Style of the location of the div that wraps the custom pager*/
.swiper-pagination-custom {
  bottom: -5px;
}

.swiper-pagination-customs {
  // background: url(../imgs/slider/swiper/dot.svg) no-repeat 0px 0px;
  background: $color-border-1;
  border-radius: 50%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

/*Customize the style representation when pager is activated*/
.swiper-pagination-customs-active,
.swiper-pagination-customs:hover {
  background: $color-brand-2;
  border-radius: 50%;
  // url(../imgs/slider/swiper/dot-active.svg) no-repeat 0px 0px;
  width: 12px;
  height: 12px;
  margin-bottom: -1px;
  margin-left: 3px;
  margin-right: 3px;
}

.style-nav-top {
  .swiper-button-next {
    top: -30px;
    right: -5px;
    left: auto;
  }

  .swiper-button-prev {
    top: -30px;
    right: 45px;
    left: auto;
  }
}





.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: $color-brand-2;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active,
  .swiper-pagination-bullet-active:hover {
    background-color: $color-brand-2;
    width: 12px;
    height: 12px;
    margin: -1px 3px 0;
    opacity: 1;
  }
}