/* Background Blue random Design */
.background-random-blogpage {
  position: relative;
  overflow: hidden;
}

.background-random-blogpage::before,
.background-random-blogpage::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 1500px;
  background: #f2f6fd;
  transform-origin: top left;
  z-index: -1;
}

.background-random-blogpage::before {
  transform: rotate(-8deg);
  top: 600px;
  left: -300px;
  border-radius: 25px;
}

.background-random-blogpage::after {
  transform: rotate(8deg);
  top: 1100px;
  right: -300px;
  border-radius: 25px;
}

/* Background Blue random Design End */

/* Share Icon Start */
.share-icon-container-blogpage {
  position: absolute;
}

.share-icon-blogpage {
  font-size: 30px;
  color: #3c65f5;
}

.share-icon-blogpage:hover {
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #05264e;
  transition: 0.2s;
  border-radius: 4px;
}

@media screen and (max-width:1200px) {
  .share-icon-blogpage {
    margin-left: 35px !important;
    margin-top: -76px !important;
  }
}

@media screen and (max-width:1180px) {
  .share-icon-container-blogpage {
    display: none;
  }
}

/* Share Icon End */

// Blog Page Heading with Search Bar Start
.banner-hero-blogpage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 65px 0px 70px;
  position: relative;
  max-width: 1770px;
  margin: 0 auto;
}

.banner-hero1 .block-banner-blog .blog-form-find-top,
.banner-hero-blogpage .block-banner-blog .blog-form-find-top {
  background: #ffffff;
  padding: 8px 8px;
  border: 1px solid #e0e6f6;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.banner-hero1 .block-banner-blog .blog-form-find-top form,
.banner-hero-blogpage .block-banner-blog .blog-form-find-top form {
  width: 100%;
  display: flex;
}

.blog-form-find-top form .blog-one {
  height: 50px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  border: none;
  margin-left: 1px;
  width: 550px;
  margin-top: 5px;
}

.blog-form-find-top form .blog-one::placeholder {
  color: #6B6B6B;
}

.blog-btn-search {
  background-color: #229A24;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 215px;
  height: auto;
  font-size: 16px;
  margin-left: 25px;
}

.blog-btn-search:hover {
  transform: translateY(-2px);
  background-color: #1e7f1e;
  transition: 0.2s;
}

.divider-blog {
  width: 1px;
  height: 55px;
  background-color: rgba(180, 192, 237, 0.6);
  margin-left: 0px;
}

.blogpage-searchbar-icon {
  margin-top: 10px;
  width: 30px;
  margin-left: 10px;
  height: auto;
}

.searchbox-location {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .block-banner-blog {
    width: auto;
  }

  .blogpage-block-banner {
    width: 100%;
  }

  .banner-hero1 .block-banner-blog .blog-form-find-top {
    padding: 20px;
  }

  .banner-hero1 .block-banner-blog .blog-form-find-top,
  .banner-hero-blogpage .block-banner-blog .blog-form-find-top {
    padding: 10px;
  }

  .btn-search {
    background-color: #229A24;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 12px;
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
  }

  .blog-btn-search {
    padding: 8px 12px;
    margin-top: 9px;
    width: 23%;
    margin-left: 0px;
  }

  .blog-form-find-top form .blog-one {
    width: 100%;
    padding-left: 0px;
  }

  .blogpage-searchbar-icon {
    margin-left: 10px !important;
  }

  .blogpage-searchbox-searchicon {
    margin-top: -3px !important;
  }
}

@media screen and (max-width: 992px) {
  .blogpage-block-banner {
    width: 85%;
  }

  .banner-hero1 .block-banner-blog .blog-form-find-top form,
  .banner-hero-blogpage .block-banner-blog .blog-form-find-top form {
    display: flex;
    flex-wrap: wrap;
  }

  .banner-hero1 .block-banner-blog .blog-form-find-top,
  .banner-hero-blogpage .block-banner-blog .blog-form-find-top {
    padding: 0 10px 10px 10px;
  }

  .searchbox-location {
    width: 100%;
  }

  .divider-blog {
    display: none;
  }

  .blogpage-searchbar-icon {
    margin-top: 15px;
    width: 35px;
    margin-left: -5px !important;
  }

  .blog-btn-search {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .banner-hero-blogpage {
    padding: 0px;
  }
}

@media screen and (max-width: 576px) {
  .blog-form-find-top form .blog-one {
    font-size: 14px !important;
  }

  .css-7dq86y-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 496px) {
  .blogpage-block-banner {
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .blog-form-find-top form .blog-one {
    padding-left: 0px;
  }

  .blog-btn-search {
    margin: 0px;
  }
}

// Blog Page Heading with Search Bar End

// Blog Page Carousel Start 
.card-content-blog {
  border-radius: 16px;
  border: 1px solid rgba(224, 230, 246, 1);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 13px 12px;
  height: 100%;
}

.article-title-blogpage {
  color: white;
  align-self: start;
  padding: 25px 25px 0px 25px;
  font: 700 20px/26px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  overflow: hidden;
  text-align: justify;
  margin-top: -140px;
}

.author-image-blogpage {
  position: absolute;
  margin-right: 10px;
  aspect-ratio: 1;
  object-fit: cover;
  width: 35px;
  border-radius: 50%;
  margin-top: 385px;
  margin-left: 20px;
}

.swiperdate-blogpage {
  position: absolute;
  color: var(--System-white, var(--System-white, #FFF));
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 387px;
  margin-left: 70px;
}

.carouseldate-blogpage {
  position: absolute;
  color: var(--System-white, var(--System-white, #FFF));
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-left: 217px;
  margin-top: 387px;
}

.swiperprevious-blogpage {
  position: absolute;
  top: 22%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  left: 120px;
}

.swipernext-blogpage {
  position: absolute;
  top: 22%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  right: 120px;
}

@media screen and (max-width: 1470px) {
  .swiperprevious-blogpage {
    top: 22%;
    left: 90px;
  }

  .swipernext-blogpage {
    top: 22%;
    right: 90px;
  }
}

@media screen and (max-width: 1400px) {
  .swiperprevious-blogpage {
    left: 30px;
  }

  .swipernext-blogpage {
    right: 30px;
  }
}

@media screen and (max-width: 1290px) {
  .swiperprevious-blogpage {
    top: 22%;
    left: 0px;
  }

  .swipernext-blogpage {
    top: 22%;
    right: 0px;
  }
}

@media screen and (max-width: 1225px) {
  .swiperprevious-blogpage {
    top: 22%;
    left: -5px;
  }

  .swipernext-blogpage {
    top: 22%;
    right: -5px;
  }
}

@media screen and (max-width: 1200px) {
  .swiperprevious-blogpage {
    top: 22%;
    left: 50px;
  }

  .swipernext-blogpage {
    top: 22%;
    right: 50px;
  }

  .article-title-blogpage {
    padding: 25px 10px 0px 10px;
    font: 700 18px / 22px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -160px;
  }

  .author-image-blogpage {
    width: 30px;
    margin-top: 365px;
    margin-left: 10px;
  }

  .swiperdate-blogpage {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 367px;
    margin-left: 50px;
  }

  .carouseldate-blogpage {
    font-size: 16px;
    margin-left: 50px;
    margin-top: 397px;
  }
}

@media screen and (max-width: 1100px) {
  .swiperprevious-blogpage {
    left: 0px;
  }

  .swipernext-blogpage {
    right: 0px;
  }
}

@media screen and (max-width: 992px) {
  .card-content-blog {
    max-width: 100%;
  }

  .featured-image {
    max-width: 100%;
  }

  .swiperprevious-blogpage {
    top: 23%;
    left: 30px;
  }

  .swipernext-blogpage {
    top: 23%;
    right: 30px;
  }

  .article-title-blogpage {
    font: 700 18px / 22px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -160px;
  }
}

@media screen and (max-width: 855px) {
  .swiperprevious-blogpage {
    top: 23%;
    left: 0px;
  }

  .swipernext-blogpage {
    top: 23%;
    right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .card-content-blog {
    padding: 10px;
  }

  .featured-image {
    max-width: 100%;
  }

  .swiperprevious-blogpage {
    top: 22%;
    left: 8px;
  }

  .swipernext-blogpage {
    top: 22%;
    right: 8px;
  }

  .article-title-blogpage {
    font: 700 16px / 22px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -190px;
  }
}

@media screen and (max-width: 576px) {
  .swiperprevious-blogpage {
    top: 24%;
    left: 5px;
  }

  .swipernext-blogpage {
    top: 24%;
    right: 5px;
  }

  .article-title-blogpage {
    padding: 10px 25px 0px 25px;
    margin-top: -150px;
  }

  .author-image-blogpage {
    width: 35px;
    margin-top: 355px;
    margin-left: 20px;
  }

  .swiperdate-blogpage {
    margin-top: 357px;
    margin-left: 70px;
  }

  .carouseldate-blogpage {
    margin-left: 25px;
    margin-top: 397px;
  }
}

@media screen and (max-width: 450px) {
  .swiperprevious-blogpage {
    top: 23%;
    left: 0px;
  }

  .swipernext-blogpage {
    top: 23%;
    right: 0px;
  }

  .article-title-blogpage {
    margin-top: -170px;
  }
}

@media screen and (max-width: 396px) {
  .article-title-blogpage {
    font: 700 16px / 19px Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: -135px;
  }

  .author-image-blogpage {
    width: 30px;
    margin-top: 383px;
    margin-left: 20px;
  }

  .swiperdate-blogpage {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 385px;
    margin-left: 70px;
  }

  .carouseldate-blogpage {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 25px;
    margin-top: 412px;
  }
}

@media screen and (min-width: 1470px) {
  .swiperprevious-blogpage {
    top: 22%;
    left: 120px;
  }

  .swipernext-blogpage {
    top: 22%;
    right: 120px;
  }
}

// Blog Page Carousel End 

/* Blog Trending Now Start */
.product-image-container {
  display: flex;
  gap: 5px;
}

.blogpage-trendingnow-author-mainimage {
  width: 60px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto 0;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.blogpage-trendingnow-product-title {
  height: 70px;
  overflow: hidden;
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.blogpage-trendingnow-product-author {
  color: var(--NestMart-TextHeading, #253D4E);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.blogpage-trendingnow-author-name {
  color: var(--NestMart-TextHeading, #253D4E);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

@media screen and (max-width: 1399px) {
  .blogpage-trendingnow-product-title {
    height: 83px;
  }
}

@media screen and (max-width: 992px) {
  .product-image-container {
    gap: 13px;
  }
}

@media screen and (max-width: 768px) {
  .blogpage-trendingnow-product-title {
    height: 78px;
  }

  .blogpage-trendingnow-product-author {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
    font-size: 12px;
    color: var(--NestMart-TextHeading, #253d4e);
    font-weight: 500;
    line-height: 156%;
  }

  .blogpage-trendingnow-author-mainimage {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (max-width: 574px) {
  .blogpage-trendingnow-author-mainimage {
    width: 50px;
    height: 40px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }

  .blogpage-trendingnow-product-title {
    height: 70px;
  }
}

.box-swiper {
  position: relative;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-next:after,
.blogpage-trendingnowcarousel-swiper .swiper-button-prev:after {
  content: "";
}

.blogpage-trendingnowcarousel-swiper .swiper-button-next {
  background: url(../imgs/slider/swiper/next.svg) no-repeat 0px 0px;
  right: -65px;
  top: 70px !important;
  width: 50px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-next:hover {
  background: url(../imgs/slider/swiper/next-active.svg) no-repeat 0px 0px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-prev {
  background: url(../imgs/slider/swiper/prev.svg) no-repeat 0px 0px;
  left: -65px;
  top: 70px !important;
  width: 50px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-prev:hover {
  background: url(../imgs/slider/swiper/prev-active.svg) no-repeat 0px 0px;
}

.blogpage-trendingnowcarousel-swiper .swiper-button-margin {
  margin-top: 25px;
}

@media screen and (max-width: 650px) {
  .blogpage-trendingnowcarousel-swiper .swiper-button-next {
    right: -60px !important;
    top: 65px !important;
  }

  .blogpage-trendingnowcarousel-swiper .swiper-button-prev {
    left: -60px;
    top: 65px !important;
  }
}

@media screen and (max-width: 576px) {
  .blogpage-trendingnowcarousel-swiper .swiper-button-next {
    right: -57px !important;
    top: 65px !important;
  }

  .blogpage-trendingnowcarousel-swiper .swiper-button-prev {
    left: -43px !important;
    top: 65px !important;
  }

  .blogpage-trendingnowcarousel {
    width: 95%;
    padding: 0 20px;
  }
}

/* Blog Trending Now End */

//Blog Popular Post Start
@media screen and (max-width: 992px) {
  .mt-30-10 {
    margin-top: 10px;
  }
}

.card-content-blog-popularpost {
  border-radius: 16px;
  border: 1px solid rgba(224, 230, 246, 1);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 13px 12px;
  height: 100%;
}

.featured-image-blog-popularpost {
  aspect-ratio: 1.85;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.blogpage-article-category {
  border-radius: 5px;
  background-color: var(--border-border-2, #e0e6f6);
  align-self: start;
  margin-top: 20px;
  white-space: nowrap;
  padding: 0 10px;
  color: var(--brand-brand-2, #3C65F5);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin-left: 5px;
}

.blogpage-article-title {
  // align-self: start;
  margin: 20px 5px 0 5px;
  height: 60px;
  overflow: hidden;
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.blogpage-article-description {
  align-self: center;
  margin: 0 5px;
  text-align: justify;
  height: 100px;
  overflow: hidden;
  color: var(--text-paragraph, var(--Paragraph-Text, #6C6E70));
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.blogpage-article-meta {
  display: flex;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
}

.author-info-blog-popularpost {
  display: flex;
  gap: 5px;
}

.blogpage-author-image {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  width: 45px;
  margin: auto 0;
}

.blogpage-author-details {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.blogpage-author-name {
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.blogpage-publish-date {
  margin-top: 5px;
  color: var(--text-Paragrap-2, var(--text-Paragrap-2, #435579));
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.blogpage-read-time {
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  text-align: right;
  margin-right: 10px;
  color: var(--text-Paragrap-2, var(--text-Paragrap-2, #435579));
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

@media (max-width: 1200px) {
  .news-article-card {
    height: 565px;
  }

  .article-title-container-blog {
    height: 85px;
  }

  .blogpage-article-title {
    font-size: 18px !important;
    height: 85px;
  }

  .blogpage-article-description {
    height: 125px;
  }

  .blogpage-read-time {
    margin-left: 5px;
    margin-top: 70px;
    position: absolute;
    text-align: left;
  }
}

@media (max-width: 991px) {
  .news-article-card {
    height: 565px;
  }

  .blogpage-article-category {
    white-space: initial;
  }

  .article-title-container-blog {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
    font-size: 18px !important;
  }

  .blogpage-article-description {
    height: 125px;
  }

  .blogpage-article-meta {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .blogpage-read-time {
    margin-left: 5px;
    margin-top: 70px;
    position: absolute;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .news-article-card {
    height: 595px;
  }

  .article-title-container-blog {
    height: 85px;
  }

  .blogpage-article-category {
    white-space: initial;
  }

  .blogpage-article-title {
    height: 85px;
    font-size: 18px !important;
  }

  .blogpage-article-description {
    height: 175px;
    max-width: 100%;
  }

  .blogpage-article-meta {
    margin-top: 15px;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .blogpage-author-image {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }

  .blogpage-read-time {
    margin-left: 5px;
    margin-top: 80px;
    position: absolute;
    text-align: left;
  }
}

@media (max-width: 575px) {
  .news-article-card {
    height: 570px;
  }

  .article-title-container-blog {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 75px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}

@media (max-width: 526px) {
  .news-article-card {
    height: 570px;
  }

  .article-title-container-blog {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 105px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}

@media (max-width: 493px) {
  .news-article-card {
    height: 565px;
  }

  .article-title-container-blog {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 100px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}

@media (max-width: 433px) {
  .news-article-card {
    height: 565px;
  }

  .article-title-container-blog {
    height: 60px;
  }

  .blogpage-article-title {
    height: 60px;
  }

  .blogpage-article-description {
    height: 125px;
  }

  .blogpage-article-meta {
    margin-top: 15px;
  }

  .blogpage-read-time {
    margin-top: 65px;
  }
}

@media (max-width: 375px) {
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% - 20px), 1fr));
  }
}

//Blog Popular Post Start

// Blog Inner Page Start
/* Background Blue random Design */
.background-random-bloginnerpage {
  position: relative;
  overflow: hidden;
}

.background-random-bloginnerpage::before,
.background-random-bloginnerpage::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 1500px;
  background: #f2f6fd;
  transform-origin: top left;
  z-index: -1;
}

.background-random-bloginnerpage::before {
  transform: rotate(-8deg);
  top: 800px;
  left: -300px;
  border-radius: 25px;
}

.background-random-bloginnerpage::after {
  transform: rotate(8deg);
  top: 700px;
  right: -300px;
  border-radius: 25px;
}

/* Background Blue random Design End */

/* Share Icon Start */
.share-icon-container-bloginnerpage {
  position: absolute;
  margin-top: -25px;
  margin-left: -120px;
}

.share-icon-bloginnerpage {
  font-size: 30px;
  color: #3c65f5;
}

.share-icon-bloginnerpage:hover {
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #05264e;
  transition: 0.2s;
  border-radius: 4px;
}

@media screen and (max-width:1200px) {
  .share-icon-bloginnerpage {
    margin-left: 35px !important;
    margin-top: -76px !important;
  }
}

@media screen and (max-width:1180px) {
  .share-icon-container-bloginnerpage {
    display: none;
  }
}

/* Share Icon End */

.banner-hero-blog {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img-blog-inner {
  background: url(../imgs/page/blog-page/BlogHero1.jpg) no-repeat center center;
  background-size: cover;
}

.bg-img-blog-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #05264E;
}

.img-middle {
  float: left;
  margin-top: 2px;
}

.archive-header-blogpage {
  position: relative;
  top: -220px;
  margin-bottom: -200px;
  display: table;
  width: 100%;
}

.archive-header-blogpage .post-meta .author img {
  max-width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .archive-header-blogpage {
    top: -180px;
    margin-bottom: -153px;
  }
}

@media screen and (max-width: 768px) {
  .archive-header-blogpage {
    top: -150px;
    margin-bottom: -135px;
  }
}

@media screen and (max-width: 650px) {
  .archive-header-blogpage {
    top: -130px;
    margin-bottom: -115px;
  }
}

@media screen and (max-width: 550px) {
  .archive-header-blogpage {
    top: -110px;
    margin-bottom: -94px;
  }
}

@media screen and (max-width: 450px) {
  .archive-header-blogpage {
    top: -90px;
    margin-bottom: -65px;
  }
}

.container-blog-innerpage {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  max-width: 77%;
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  .container-blog-innerpage {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .container-blog-innerpage {
    padding: 0 10px;
  }
}

.box-white {
  background: $background-white;
  padding: 50px 0px 0px 0px;
}

.max-width-single {
  max-width: 733px;
  width: 100%;
  margin: auto;
}

.component-title-blog-innerpage {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--brand-brand-1, #05264E);
  text-align: center;
  font-family: "Plus Jakarta Sans";
}

@media (max-width: 1180px) {
  .component-title-blog-innerpage {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .component-title-blog-innerpage {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 992px) {
  .mt-60-30 {
    margin-top: 30px !important;
  }

  .mt-50-30-30 {
    margin-top: 30px !important;
  }

  .mt-50-0-blog-innerpage {
    margin-top: 0px !important;
  }

  .mt-30-20 {
    margin-top: 20px !important;
  }
}


@media screen and (max-width: 576px) {
  .mt-50-30-30 {
    margin-top: 30px !important;
  }
}

.content-single-bloginnerpage-introduction {
  color: var(--text-paragraph, #4F5E64);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.title-after-image-blog-innerpage {
  color: var(--text-paragraph, #4F5E64);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ul-title-after-image-blog-innerpage {
  color: var(--Paragraph-Text, #6C6E70);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.content-single-bloginnerpage {
  ul {
    list-style: none;
    color: var(--Paragraph-Text, #6C6E70);
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  li {
    margin-bottom: 30px;
  }
}

.slug {
  color: var(--text-paragraph, #4F5E64);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.show-bullet {
  list-style: disc !important;
}

.comments-blog-innerpage {
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bloginnerpage-author-bio {
  border-radius: 0px;
  border: 0px solid $border-color;
  display: flex;
}

.author-image-blog-innerpage {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  width: 60px;
}

.author-information {
  width: 150px;
  margin-left: 10px;
}

.comments-author-name {
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.comments-author-date {
  color: var(--text-Paragrap-2, #66789C);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.comments-author-blog-innerpage {
  color: var(--text-paragraph, #4F5E64);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0px;
}

.comments-description {
  padding: 15px;
  border: 1px solid $color-border-1;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .author-image-blog-innerpage {
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (max-width:576px) {
  .bloginnerpage-author-bio {
    display: block;
  }

  .mb-40 {
    margin-bottom: 25px !important;
  }

  .mb-50 {
    margin-bottom: 25px !important;
  }

  .mb-75 {
    margin-bottom: 50px !important;
  }

  .bloginnerpage-author-bio {
    .author-image-blog-innerpage {
      max-height: 70px;
      margin-bottom: 0px;
    }

    .comments-description {
      margin-left: 0px;
      margin-top: 0px;
    }
  }
}

.list-comments {
  padding-left: 0px;
  margin-bottom: 0px;
}


.list-comments {
  li {
    ul {
      li {
        padding-left: 45px;
      }
    }
  }
}

.leave-comment-blog-innerpage {
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.comment-form-blog-innerpage {
  margin-bottom: 30px;
}

.bloginnerpage-form-comment {
  .box-agree input {
    float: left;
    margin: 5px 0px 0px 0px;
  }

  .box-agree span {
    display: block;
    padding-left: 25px;
  }

  .input-comment {
    border-radius: 4px;
    border: 2px solid $color-border-2;
    padding: 20px;
    width: 100%;
    color: $color-text-mutted;
    font-size: $font-lg;
    line-height: 26px;
    font-weight: 500;
    min-height: 150px;
  }
}

.bloginnerpage-comment-form-save {
  color: var(--text-paragraph, #4F5E64);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}





/* Blog Ends */

/* Blog Hero Image  */
.bg-img-blog {
  height: 30vh;
  background: url(../imgs/page/blog-page/BlogHero1.jpg) no-repeat center center;
  background-size: cover;
}




.bg-img-blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #05264E;
}




/* Blog Inner Page Finish */







/* blogpage */


.author-info-container-blogpage {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}
















.mr-15 {
  margin-right: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-75 {
  margin-bottom: 50px;
}

.pl-30 {
  padding-left: 30px;
}


.image-borderradius {
  border-radius: 16px;
}

.keywords-bloginnerpage {
  color: var(--brand-brand-1, #05264E);
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  padding: 12px 20px;
  background: #EFF2FB;
  border-radius: 8px;
}






@media screen and (max-width:576px) {

  .list-comments {
    li {
      ul {
        li {
          padding-left: 0px !important;
        }
      }
    }
  }
}











// purano blog ko code
.author {
  span {
    color: $color-black-1;
  }
}

.img-middle {
  float: left;
  margin-top: 2px;
}




// Blog Trending Now
.box-swiper {

  .swiper-container {
    position: relative;

    .blogpage-item-logo {
      border: 1px solid $border-color-1;
      padding: 10px;
      display: flex;
      width: 100%;
      text-align: left;
      border-radius: 12px;
      margin-bottom: 15px;
      background-color: $background-white;
      flex-wrap: wrap;

      img {
        max-width: 100%;

      }

      &:hover {
        border: 1px solid $border-color-1-hover;
        box-shadow: $box-shadow-2;
      }

      .image-left {
        min-width: 50px;
        padding-right: 10px;
      }

      .text-info-right {
        h4 {
          font-size: $font-md;
          line-height: 26px;
          margin-bottom: 3px;
        }
      }
    }
  }


  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "";
  }


}



.css-p1olib-MuiAutocomplete-endAdornment {
  display: none;
}

//Blog Page Popular Post Backup Start
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {

  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
  }
}