.section-box {
    &.mt-100 {
        margin-top: 100px !important;
    }
}

/* Background Blue random Design */
.background-random-evidenceledresearch {
    position: relative;
    overflow: hidden;
}

.background-random-evidenceledresearch::before,
.background-random-evidenceledresearch::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 1500px;
    background: #f2f6fd;
    transform-origin: top left;
    z-index: -1;
}

.background-random-evidenceledresearch::before {
    transform: rotate(-8deg);
    top: 800px;
    left: -300px;
    border-radius: 25px;
}

.background-random-evidenceledresearch::after {
    transform: rotate(8deg);
    top: 1100px;
    right: -300px;
    border-radius: 25px;
}

/* Background Blue random Design End */

/*Hero Component Start */
.banner-hero-evidenceledresearch {
    padding: 0px 65px 0px 70px;
    position: relative;
    max-width: 1770px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

//   Hero Page Section
.bg-img-businessbuilder-evidenceledresearch {
    height: 30vh;
    background: url(../imgs/page/evidence-led-research/evidenceledresearchhero1.jpg) no-repeat center center;
    background-size: cover;
}

.bg-img-businessbuilder-evidenceledresearch h2,
.bg-img-businessbuilder-evidenceledresearch p {
    z-index: 2;
    position: relative;
    color: white;
    padding-left: 25px;
}

.bg-img-businessbuilder-evidenceledresearch h2 {
    border-left: 10px solid #83cbff;
    padding-bottom: 8px;
    padding-top: 5px;
}

.bg-img-businessbuilder-evidenceledresearch p {
    border-left: 10px solid #83cbff;
}

.bg-img-businessbuilder-evidenceledresearch::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #05264E;
}

@media screen and (max-width:576px) {

    .businessbuilder-hero-heading-evidenceledresearch,
    .businessbuilder-hero-subheading-evidenceledresearch {
        margin-left: -65px;
    }
}

@media (max-width: 992px) {
    h2 {
        font-size: 40px !important;
    }

    .color-text-paragraph-evidenceledresearch {
        font-size: 20px !important;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px !important;
        margin-bottom: 10px !important;
    }

    .color-text-paragraph-evidenceledresearch {
        font-size: 18px !important;
        line-height: 25px !important;
    }

    @media (max-width: 455px) {
        h2 {
            font-size: 26px !important;
        }

        .color-text-paragraph-evidenceledresearch {
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
}

/* Share Icon Start */
.share-icon-container-evidenceledresearch {
    position: absolute;
}

.share-icon-evidenceledresearch {
    font-size: 30px;
    color: #3c65f5;
}

.share-icon-evidenceledresearch:hover {
    transform: translateY(-2px);
    color: #ffffff;
    background-color: #05264e;
    transition: 0.2s;
    border-radius: 4px;
}

@media screen and (max-width:1200px) {
    .share-icon-evidenceledresearch {
        margin-left: 35px !important;
        margin-top: -76px !important;

    }
}

@media screen and (max-width:999px) {
    .share-icon-evidenceledresearch {
        margin-left: 14px !important;
        margin-top: -76px !important;

    }
}

@media screen and (max-width:768px) {
    .share-icon-evidenceledresearch {
        margin-left: 32px !important;
        margin-top: -76px !important;

    }
}

@media screen and (max-width:580px) {
    .share-icon-evidenceledresearch {
        margin-left: 3px !important;
        margin-top: -10px !important;
    }
}

/* Share Icon End */

/*Evidence Led Research Search Bar*/
.banner-hero-evidenceledresearch-searchbar {
    padding: 0px 65px 0px 70px;
    position: relative;
    max-width: 1770px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .banner-hero-evidenceledresearch-searchbar {
        padding: 0px;
    }
}

.banner-hero-evidenceledresearch-searchbar .block-banner-evidenceled .evidenceled-form-find-top {
    background: #ffffff;
    padding: 8px 8px;
    border: 1px solid #e0e6f6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.banner-hero-evidenceledresearch-searchbar .block-banner-evidenceled .evidenceled-form-find-top form {
    width: 100%;
    display: flex;
}

.evidenceled-form-find-top form .blog-one {
    height: 50px;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    margin-left: 1px;
    width: 550px;
}

.evidenceled-form-find-top form .blog-one::placeholder {
    color: #6B6B6B;
}

.evidenceled-form-find-top form .blog-two {
    height: 50px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    width: 350px;
}

.evidenceled-form-find-top form .blog-two::placeholder {
    color: #6B6B6B;
}

.evidenceled-btn-search {
    background-color: #229A24;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width: 20%;
    height: auto;
    font-size: 16px;
    // margin-left: 25px;
}

.evidenceled-btn-search:hover {
    transform: translateY(-2px);
    background-color: #1e7f1e;
    transition: 0.2s;
}

.divider {
    width: 1px;
    height: 55px;
    background-color: rgba(180, 192, 237, 0.6);
    margin-left: 35px;
}

@media screen and (max-width: 420px) {
    .banner-hero-evidenceledresearch-searchbar .block-banner-evidenceled .evidenceled-form-find-top {
        padding: 10px 5px 10px 5px !important;
        margin: 0 -10px !important;
    }
}

.evidenceled-searchbar-searchicon {
    margin-top: 10px;
    width: 50px;
    margin-left: 10px;
    height: auto;
}

@media screen and (max-width: 1199px) {
    .block-banner-evidenceled {
        width: 650px;
    }

    .banner-hero-evidenceledresearch-searchbar .block-banner-evidenceled .evidenceled-form-find-top {
        padding: 20px;
    }

    .banner-hero-evidenceledresearch-searchbar .block-banner-evidenceled .evidenceled-form-find-top form {
        display: flex;
        flex-wrap: wrap;
    }

    .btn-search {
        background-color: #229A24;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        padding: 8px 12px;
        margin-top: 20px;
        margin-left: 20px;
        width: auto;
    }

    .evidenceled-btn-search {
        padding: 8px 12px;
        margin-top: 15px;
        width: 100%;
        margin-left: 0px;
    }

    .divider {
        display: none;
    }

    .evidenceled-form-find-top form .blog-one,
    .evidenceled-form-find-top form .blog-two {
        width: 100%;
        padding-left: 0px;
    }

    .evidenceled-form-find-top form .blog-two {
        margin-left: 35px;
    }

    .evidenceled-searchbar-searchicon {
        position: absolute;
        margin-top: 72px !important;
        width: 30px !important;
        margin-left: -5px !important;
    }

    .searchbox-searchicon-evidenceled {
        margin-top: -3px !important;
    }
}

@media screen and (max-width: 768px) {
    .block-banner-evidenceled {
        width: 550px;
        padding: 0 25px;
    }
}

@media screen and (max-width: 496px) {
    .block-banner-evidenceled {
        width: 470px;
    }

    .evidenceled-form-find-top form .blog-one {
        padding-left: 20px;
        padding-right: 10px;
    }

    .evidenceled-form-find-top form .blog-two {
        padding-left: 12px;
        padding-right: 10px;
    }

    .evidenceled-btn-search {
        margin: 0 20px;
    }

    .evidenceled-searchbar-searchicon {
        margin-top: 72px !important;
        width: 30px !important;
        margin-left: 13px !important;
    }
}

@media screen and (max-width: 450px) {

    .evidenceled-form-find-top form .blog-one,
    .evidenceled-form-find-top form .blog-two {
        padding-left: 10px;
    }

    .evidenceled-form-find-top form .blog-two {
        padding-left: 10px;
    }

    .evidenceled-btn-search {
        margin: 0 20px 0 10px;
    }

    .evidenceled-searchbar-searchicon {
        margin-top: 72px !important;
        width: 30px !important;
        margin-left: 6px !important;
    }
}

@media screen and (max-width: 435px) {
    .block-banner-evidenceled {
        width: 435px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 420px) {
    .block-banner-evidenceled {
        width: 410px;
        padding: 0 30px;
    }
}

@media screen and (max-width: 410px) {

    .evidenceled-form-find-top form .blog-one,
    .evidenceled-form-find-top form .blog-two {
        padding-left: 0px;
    }

    .evidenceled-btn-search {
        margin: 0px;
    }
}

@media screen and (max-width: 400px) {
    .block-banner-evidenceled {
        width: 400px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 380px) {
    .block-banner-evidenceled {
        width: 380px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 496px) {
    .banner-hero-evidenceledresearch-searchbar .block-banner-evidenceled .evidenceled-form-find-top {
        padding: 0 0 20px 0;
    }
}

/*Search Component End */

// Academic Research Grid Component Start
.title-details-evidenceled {
    text-align: justify;
}

.paratext-evidenceled {
    color: var(--text-Paragrap-2, var(--text-Paragrap-2, #6C6E70));
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.inner-heading-evidenceled {
    font-size: 36px !important;
}

@media screen and (max-width:576px) {
    .inner-heading-evidenceled {
        font-size: 20px !important;
    }
}

// Academic Research Grid Component End


/* Evidence Led Research Explore the Research Start */
.newsandeventsheading-evidenceled {
    color: var(--brand-brand-1, #05264E);
    text-align: center;
    /* Heading/H2 */
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.newsandeventssubheading-evidenceled {
    color: var(--text-paragraph, var(--Paragraph-Text, #6C6E70));
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.card-content-evidenceled {
    border-radius: 16px;
    border: 1px solid rgba(224, 230, 246, 1);
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 13px 12px;
    height: 100%;
}

.featured-image-evidenceled {
    width: 100%;
    height: 250px;
}

.swiperprevious-evidenceled {
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    left: 10px;
}

.swipernext-evidenceled {
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    right: 10px;
}

.container-evidenceled {
    margin: auto;
    padding: 0 50px;
}

@media (max-width: 1400px) {
    .container-evidenceled {
        max-width: 1300px;
    }
}

@media (max-width: 1200px) {
    .container-evidenceled {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .container-evidenceled {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container-evidenceled {
        max-width: 700px;
    }
}

@media (max-width: 700px) {
    .container-evidenceled {
        max-width: 640px;
    }

    .featured-image-evidenceled {
        height: 220px;
    }
}

@media (max-width: 640px) {
    .container-evidenceled {
        max-width: 600px;
    }

    .featured-image-evidenceled {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .container-evidenceled {
        max-width: 540px;
    }
}

@media (max-width: 540px) {
    .container-evidenceled {
        max-width: 480px;
    }

    .featured-image-evidenceled {
        height: 220px;
    }
}

@media (max-width: 480px) {
    .container-evidenceled {
        max-width: 400px;
    }

    .featured-image-evidenceled {
        height: 200px;
    }
}


@media (max-width: 450px) {
    .featured-image-evidenceled {
        height: 310px;
    }
}

@media (max-width: 400px) {
    .container-evidenceled {
        max-width: 340px;
    }
}

@media (min-width: 1400px) {
    .container-evidenceled {
        max-width: 1300px;
    }
}

@media screen and (max-width: 1400px) {
    .swiperprevious-evidenceled {
        top: 35%;
        left: 10px;
    }

    .swipernext-evidenceled {
        top: 35%;
        right: 10px;
    }
}

@media screen and (max-width: 1290px) {
    .swiperprevious-evidenceled {
        left: 0px;
    }

    .swipernext-evidenceled {
        right: 0px;
    }
}

@media screen and (max-width: 1225px) {
    .swiperprevious-evidenceled {
        left: -5px;
    }

    .swipernext-evidenceled {
        right: -5px;
    }
}

@media screen and (max-width: 1200px) {
    .swiperprevious-evidenceled {
        top: 35%;
        left: 2px;
    }

    .swipernext-evidenceled {
        top: 35%;
        right: 2px;
    }
}

@media screen and (max-width: 768px) {
    .swiperprevious-evidenceled {
        top: 37%;
        left: -3px;
    }

    .swipernext-evidenceled {
        top: 37%;
        right: -3px;
    }
}

@media screen and (max-width: 576px) {
    .swiperprevious-evidenceled {
        top: 39%;
    }

    .swipernext-evidenceled {
        top: 39%;
    }
}

@media screen and (max-width: 450px) {
    .swiperprevious-evidenceled {
        top: 39%;
        left: 5px;
    }

    .swipernext-evidenceled {
        top: 39%;
        right: 5px;
    }
}

@media screen and (min-width: 1400px) {
    .swiperprevious-evidenceled {
        top: 35%;
        left: 40px;
    }

    .swipernext-evidenceled {
        top: 35%;
        right: 40px;
    }
}

/* Evidence Led Research Explore the Research End */

/* The Need for Evidence Led Research Start */
.newsandeventsparaheading-evidenceled {
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 0px;
}

.newsandeventsparatext-evidenceled {
    color: var(--text-Paragrap-2, var(--text-Paragrap-2, #435579));
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* The Need for Evidence Led Research End */

/* Research Trending Now Start */

/* Research Trending Now End */

//   Browse a Selection of Research Categories Start
.container2 {
    margin: auto;
}

@media screen and (max-width: 1400px) {
    .container2 {
        max-width: 1130px;
    }
}

@media screen and (max-width: 1200px) {
    .container2 {
        max-width: 1060px;
    }
}

@media screen and (max-width: 992px) {
    .container2 {
        max-width: 790px;
    }
}

@media screen and (max-width: 768px) {
    .container2 {
        max-width: 520px;
    }
}

@media screen and (max-width: 576px) {
    .container2 {
        max-width: 570px;
        padding: 0 25px;
    }
}

@media screen and (max-width: 530px) {
    .container2 {
        max-width: 420px;
        padding: 0 25px;
    }
}

@media screen and (max-width: 450px) {
    .container2 {
        max-width: 420px;
        padding: 0 50px;
    }
}

@media (min-width: 1400px) {
    .container2 {
        max-width: 1130px;
    }
}

.item-logo-evidenceled {
    padding: 18px 14px !important;
}

.image-left-evidenceled {
    padding-right: 5px !important;
}

.evidence-led-research {
    &.box-swiper {
        .swiper-button-next {
            top: 100px !important;
        }

        .swiper-button-prev {
            top: 100px !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .evidence-led-research {
        &.box-swiper {
            .swiper-button-next {
                right: -50px
            }

            .swiper-button-prev {
                left: -50px;
            }
        }
    }
}

//   Browse a Selection of Research Categories End


.img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 25px;
}


.imagecontent {
    border-radius: 16px;
    transition: 0.05s ease-in-out;
    width: 100%;
    max-width: 1000px;
    height: 450px;

    &:hover {
        scale: 1.02;
        transition: 0.05s ease-in-out;
    }
}

.swiper-slide-searchbar.swiper-slide {
    width: 175px !important;
    /* Define your desired width */
    margin-right: 30px !important;
    /* Adjust as per your requirement */
}


/* SCSS */
.custom-select {
    width: 40%;
    font-size: 20px;
    margin: auto;

    .css-lmmipk-control {
        border: 0 !important
    }

    .css-319lph-ValueContainer {
        padding: 2px 0px !important;
    }

    .css-1wv8xcf-placeholder {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 10px;
    }

    .css-1uccc91-singleValue {
        color: #333;
    }

    .css-yk16xz-control,
    .css-1pahdxg-control {
        border-radius: 4px;
        border-color: #e2e8f0;

        &:hover {
            border-color: #cbd5e0;
        }
    }

    .css-26l3qy-menu {
        border-radius: 4px;
        border-color: #e2e8f0;
        box-shadow: none;
        overflow-y: auto;
        /* Added */

    }

    .css-tlfecz-indicatorContainer {
        color: #a0aec0;

        &:hover {
            color: #718096;
        }
    }
}


.custom-select {
    width: auto;
}

@media screen and (max-width: 1400px) {
    .custom-select-container {
        width: 50%;
    }
}

@media screen and (max-width: 1260px) {
    .custom-select-container {
        width: 75%;
    }
}

@media screen and (max-width: 920px) {
    .custom-select-container {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .custom-select-container {
        width: 95%;
    }
}

@media (min-width: 1400px) {
    .custom-select-container {
        width: 50%;
    }
}

.custom-select-container {
    position: relative;
    margin: 0 20px;
    margin: auto;
    border: 1px solid #e0e6f6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-button-container {
    position: relative;
    margin-top: 10px;
    display: none;
}

.search-button-container-laptop {
    position: relative;
}

@media screen and (max-width: 570px) {
    .search-button-container-laptop {
        display: none;
    }

    .search-button-container {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .custom-select {
        margin-bottom: 0;
        width: 100%;
    }

    .searchButton {
        width: 100% !important;
        margin: 0 10px !important;
    }

    .css-319lph-ValueContainer {
        padding: 2px 0px 0px 0px !important;
    }
}

.btn-search-evidence-led-research {
    background-color: rgb(34, 154, 36);
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 35%;
    height: auto;
    font-size: 16px;
    margin-left: 12px;
}


.banner-hero1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    max-width: 1770px;
    margin: 0 auto;

}


.banner-hero1 .block-banner1 .industry-form-find {
    background: #fff;
    // width: 1100px;
    width: 800px;
    padding: 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solidcolor(#e0e6f6);
    border-radius: 8px;
}

.banner-hero1 .block-banner1 .industry-form-find form {
    width: 100%;
    display: flex;
}

.industry-form-find form .industry-input-top-four {
    height: 50px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 16px;
    // width: 120%;
    border: none;

}