/* Background Blue random Design */
.background-random-fundingbuilder {
    position: relative;
    overflow: hidden;
}

.background-random-fundingbuilder::before,
.background-random-fundingbuilder::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 1500px;
    background: #f2f6fd;
    transform-origin: top left;
    z-index: -1;
}

.background-random-fundingbuilder::before {
    transform: rotate(-9deg);
    top: 800px;
    left: -300px;
    border-radius: 25px;
}

.background-random-fundingbuilder::after {
    transform: rotate(9deg);
    top: 1100px;
    right: -300px;
    border-radius: 25px;
}
/* Background Blue random Design End */

/* Banner Start */
.bg-img-fundingbuilder {
    height: 30vh;
    background: url(../imgs/page/funding-builder/fundingbuilderhero.jpg) no-repeat center center;
    background-size: cover;
}

.bg-img-fundingbuilder h2,
.bg-img-fundingbuilder p {
    z-index: 2;
    position: relative;
    color: white;
    padding-left: 25px;
}

.bg-img-fundingbuilder h2 {
    border-left: 10px solid #83cbff;
    padding-bottom: 8px;
    padding-top: 5px;
}

.bg-img-fundingbuilder p {
    border-left: 10px solid #83cbff;
}

.bg-img-fundingbuilder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #05264E;
}
/* Banner End */

/* Share Icon Start */
.share-icon-container-fundingbuilder {
    position: absolute;
}

.share-icon-fundingbuilder {
    font-size: 30px;
    color: #3c65f5;
}

.share-icon-fundingbuilder:hover {
    transform: translateY(-2px);
    color: #ffffff;
    background-color: #05264e;
    transition: 0.2s;
    border-radius: 4px;
}

@media screen and (max-width:1200px) {
    .share-icon-fundingbuilder {
        margin-left: 35px !important;
        margin-top: -76px !important;
    }
}

@media screen and (max-width:1180px) {
    .share-icon-container-fundingbuilder {
        display: none;
    }
}
/* Share Icon End */