.banner-area{
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    padding: 0;
    /* background-color: #0F254B; */

    background-image: url(../../imgs/page/scholarship/hero-image.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 281px;
    

  }
  .banner-image{
    /* background-image: url(./aboutUs_heroimage.jpeg); */
    width: 100%;
    height: 281px;
    background: #0F254B;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  .header1{
    position: absolute;
    left: 210px;
    top: 6px;
    font: "Plus Jakarta Sans";
    font-weight: 800;
    font-size: 60px;
    font-style: normal;
    line-height: normal;
    color: rgba(255, 255, 255, 1);

  }
  
  .header2{
    position: absolute;
    width: 800px;
    left: 210px;
    top: 137px;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);

  }

  .blue-text{
      color: #93C9FA;
  }
  
  .blue-line{
    position: absolute;
    width: 11px;
    height: 60px;
    top: 72px;
    left: 184px;
    background: rgba(131, 203, 255, 1);
  }
  
  .blue-line-2{
    position: absolute;
    width: 11px;
    height: 60px;
    top: 162px;
    left: 184px;
    background: rgba(131, 203, 255, 1);
  }