@function color($color-name) {
    @return map-get($colors, $color-name)
}

$font-family: Plus Jakarta Sans, sans-serif;


/* Background Blue random Design */
.background-random-resourcebuilder {
    position: relative;
    overflow: hidden;
}

.background-random-resourcebuilder::before,
.background-random-resourcebuilder::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 1500px;
    background: #f2f6fd;
    transform-origin: top left;
    z-index: -1;
}

.background-random-resourcebuilder::before {
    transform: rotate(-8deg);
    top: 800px;
    left: -300px;
    border-radius: 25px;
}

.background-random-resourcebuilder::after {
    transform: rotate(8deg);
    top: 1100px;
    right: -300px;
    border-radius: 25px;
}
/* Background Blue random Design End */

/*Media Query */
@media (max-width: 992px) {
    h2 {
        font-size: 40px !important;
    }

    .color-text-paragraph-2 {
        font-size: 20px !important;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px !important;
        margin-bottom: 10px !important;
    }

    .color-text-paragraph-2 {
        font-size: 18px !important;
        line-height: 25px !important;
    }

    @media (max-width: 455px) {
        h2 {
            font-size: 26px !important;
        }

        .color-text-paragraph-2 {
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
}
/*Media Query  End*/

/*Hero Component Start */
.banner-hero-resourcebuilder {
    padding: 0px 65px 0px 70px;
    position: relative;
    max-width: 1770px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-details-resourcebuilder {
    text-align: justify;
}

// .p-color {
//     color: color(p-color);
// }
/*Search Component End */

.img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 25px;
}

.resourcebuilderparaheading {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.resourcebuilderparatext {
    color: var(--text-Paragrap-2, var(--text-Paragrap-2, #6C6E70));
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

//   Hero Page Section
.bg-img-resourcebuilder {
    height: 30vh;
    background: url(../imgs/page/resource-builder/resourcebuilderhero.jpg) no-repeat center center;
    background-size: cover;
}

.bg-img-resourcebuilder h2,
.bg-img-resourcebuilder p {
    z-index: 2;
    position: relative;
    color: white;
    padding-left: 25px;
}

.bg-img-resourcebuilder h2 {
    border-left: 10px solid #83cbff;
    padding-bottom: 8px;
    padding-top: 5px;
}

.bg-img-resourcebuilder p {
    border-left: 10px solid #83cbff;
}

.bg-img-resourcebuilder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: #05264E;
}

.imagecontent {
    border-radius: 16px;
    transition: 0.05s ease-in-out;
    width: 100%;
    max-width: 1000px;
    height: 450px;

    &:hover {
        scale: 1.02;
        transition: 0.05s ease-in-out;
    }
}

.imagecontentwithborder {
    border-radius: 16px;
    transition: 0.05s ease-in-out;
    width: 100%;
    max-width: 1000px;
    border: 1px solid #ccc;
    height: 450px;

    &:hover {
        scale: 1.02;
        transition: 0.05s ease-in-out;
    }
}

// Resource Builder Card
.support-section {
    display: flex;
    max-width: 653px;
    padding-top: 26px;
    flex-direction: column;
    font-size: 24px;
}

.support-card {
    border-radius: 16px;
    display: flex;
    margin-top: 26px;
    width: 105%;
    flex-direction: column;
    // align-items: start;
    align-items: flex-start;
    padding: 0 0 25px 25px;
}

@media (max-width: 991px) {
    .support-card {
        max-width: 105%;
        padding-left: 20px;
    }
}

.support-card-inner {
    border-radius: 16px;
    background-color: #fff;
    z-index: 10;
    display: flex;
    margin-top: -26px;
    width: 105%;
    flex-direction: column;
    padding: 24px 40px;
}

@media (max-width: 991px) {
    .support-card-inner {
        max-width: 100%;
        padding: 0 20px;
    }
}

.support-card-title {
    color: var(--brand-brand-1, #05264E);
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 991px) {
    .support-card-title {
        max-width: 100%;
    }
}

.support-card-description {
    margin-top: 15px;
    margin-bottom: 25px;
    color: var(--text-Paragrap-2, #435579);
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

@media (max-width: 991px) {
    .support-card-description {
        max-width: 100%;
        margin-right: 10px;
    }
}

.support-card-image {
    aspect-ratio: 1.8;
    object-position: center;
    width: 100%;
}

@media (max-width: 991px) {
    .support-card-image {
        max-width: 100%;
    }
}

.container-resourcebuilder {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1600px) {
    .container-resourcebuilder {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .container-resourcebuilder {
        max-width: 700px;
    }
}

@media screen and (max-width: 992px) {
    .container-resourcebuilder {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .container-resourcebuilder {
        max-width: 480px;
    }
}

@media screen and (max-width: 576px) {
    .container-resourcebuilder {
        max-width: 480px;
        padding: 0 25px;
        margin-top: -25px;
    }
}

@media screen and (max-width: 450px) {
    .container-resourcebuilder {
        max-width: 420px;
        padding: 0 50px 0 30px;
    }
}

@media (min-width: 1600px) {
    .container-resourcebuilder {
        max-width: 1200px;
    }
}

/* Share Icon Start */
.share-icon-container-resourcebuilder {
    position: absolute;
}

.share-icon-resourcebuilder {
    font-size: 30px;
    color: #3c65f5;
}

.share-icon-resourcebuilder:hover {
    transform: translateY(-2px);
    color: #ffffff;
    background-color: #05264e;
    transition: 0.2s;
    border-radius: 4px;
}

@media screen and (max-width:1200px) {
    .share-icon-resourcebuilder {
        margin-left: 35px !important;
        margin-top: -76px !important;
    }
}

@media screen and (max-width:999px) {
    .share-icon-resourcebuilder {
        margin-left: 14px !important;
        margin-top: -76px !important;
    }
}

@media screen and (max-width:768px) {
    .share-icon-resourcebuilder {
        margin-left: 32px !important;
        margin-top: -76px !important;
    }
}

@media screen and (max-width:580px) {
    .share-icon-resourcebuilder {
        margin-left: 3px !important;
        margin-top: 5px !important;
    }
}

@media screen and (max-width:515px) {
    .share-icon-resourcebuilder {
        margin-left: 3px !important;
        margin-top: 30px !important;
    }
}
/* Share Icon End */

@media screen and (max-width:576px) {
    .resourcebuilder-hero-heading,
    .resourcebuilder-hero-subheading {
        margin-left: -65px;
    }
}

@media screen and (max-width:576px) {
    .resourcebuilder-video-laptop {
        height: 300px;
    }

    .imagecontent {
        height: 300px;
    }

    .imagecontentwithborder {
        height: 300px;
    }
}

@media screen and (max-width:430px) {
    .resourcebuilder-video-laptop {
        height: 280px;
    }

    .imagecontent {
        height: 260px;
    }

    .imagecontentwithborder {
        height: 260px;
    }
}

.resourcebuilder-inner-heading {
    font-size: 36px !important;
}

@media screen and (max-width:576px) {
    .resourcebuilder-inner-heading {
        font-size: 20px !important;
    }
}

@media screen and (max-width:576px) {
    .section-box {
        &.mt-75 {
            margin-top: 40px !important;
        }
    }

    .section-box {
        &.mt-50 {
            margin-top: 30px !important;
        }
    }

    .section-box {
        &.mt-40 {
            margin-top: 30px !important;
        }
    }

    .section-box {
        &.grid-container-businessbuilder {
            &.mt-75 {
                margin-top: 30px !important;
            }
        }
    }
}